body{
  font-family: Helvetica;
  background-image: url(images/flatironshd.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

header{
  color: #CFB87C;
  font-size: 3.0vw;
  text-align: left;
  float: left;
  z-index: 1;
  padding-top: 2vw;
  padding-left: 1vw;
}
header a{
  text-decoration: none;
  color: #CFB87C;
  font-size: 3.0vw;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  font-size: 1.6vw;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 7vw;
  opacity: 0.7;
}

li {
  float: right;
  border-right: 1px solid #bbb;
  height: 7vw;
}
li:last-child{
  border-left: 1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 2vw;
  padding-top: 2.75vw;
  padding-right: 2vw;
  padding-bottom: 5vw;
  width: 8vw;
  text-decoration: none;
}
li a:hover{
  background-color: #565A5C;
  color: white;
}
.creme{
  background-color: #f8f5ec;
  z-index: 1;
}
.about{
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  top: 25vh;
  left: 3vw;
  width: 50%;
  height: 50%;
  background-color: rgba(255,255,255,0.7);
}
.alittle{
  margin-left: 12vw;
}
p{
  margin-left: 3vw;
}
